/* ---------- Variables ---------- */
:root {
    --background-color: #001C40;
    --inner-background: #63E6BE;
    --text-color1: #fff;
    --text-color2: #74C0FC;
    --header-font-size: 7vw;
    --text-font-size: 5vw;
    --smaller-font-size: 4vw;
}

/* ---------- Reset ---------- */
body, body * {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: 'Signika Negative', sans-serif;
    box-sizing: border-box;
}

@font-face {
    font-family: Signika Negative;
    src: url(../assets/Signika_Negative/SignikaNegative-VariableFont_wght.ttf);
}

body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background: var(--background-color);
}

body, .timer, .quiz-container, .question {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 80%;
    height: 85%;
    border-radius: 15px;
    box-shadow: -5px -5px 5px black, 5px 5px 5px black, -5px 5px 5px black, 5px -5px 5px black;
    background: var(--inner-background);
    position: relative;
}

/* ---------- Intro Header ---------- */
.intro {
    position: absolute;
    width: 85%;
    left: 7.5%;
    top: 3.5%;
    color: var(--background-color);
    text-align: center;
    font-size: var(--text-font-size);
}

/* ---------- Timer ---------- */
.timer {
    position: absolute;
    left: 40%;
    top: 15%;
    width: 15%;
    height: 10%;
    padding: 10%;
    background: var(--background-color);
    font-size: var(--header-font-size);
    color: var(--text-color1);
    border-radius: 50%;
}

/* ---------- Question container ---------- */
.quiz-container {
    position: absolute;
    bottom: 2%;
    left: 5%;
    width: 90%;
    height: 65%;
}

.quiz1, .quiz2, .quiz3, .quiz4 {
    width: 90%;
    height: 100%;
    overflow: hidden;
}

.quiz2 .question, .quiz3 .question {
    align-items: flex-end;
}

.question {
    height: 35%;
    font-size: var(--text-font-size);
}

.question:hover {
    background: var(--background-color) !important;
    align-items: center;
}

.question, .answer, .next, .next a {
    width: 100%;
    margin-bottom: 5%;
    text-align: center;
    color: var(--text-color2);
    border-radius: 10px;
    transition: all 0.8s;
}
.answer, .next a {
    background: var(--background-color);
    padding: 10px;
    font-size: var(--smaller-font-size);
    cursor: pointer;
}

.next {
    display: flex;
}

.answer:hover, .next a:hover {
    background: var(--text-color2);
    color: var(--background-color);
    transform: scale(1.2);
}

/* ---------- Trying to adjust width and display ---------- */                
@media screen and (min-width: 250px) {
    .caution {
        display: none;
    }
}

@media screen and (min-width: 511px) {
    .container {
        width: 400px;
    }

    .intro, .question {
        font-size: 22.25px;
    }

    .answer, .next a {
        font-size: 16px;
    }
}

@media screen and (min-width: 930px) {
    .container {
        display: none;
    }

    .caution {
        display: block;
        width: 80%;
        text-align: center;
        margin: 20% auto;
        color: var(--text-color2);
        font-size: var(--text-font-size);
    }
}